<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://catphototournament.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>catphototournament.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>catphototournament</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$catphototournament</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PhotoTournamentDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:o0cgao7l5l.database.windows.net,1433;Initial Catalog=PhotoTournamentDB;User ID=willtech3@o0cgao7l5l;Password=Blackhawk12" Name="Data Source=tcp:o0cgao7l5l.database.windows.net,1433;Initial Catalog=PhotoTournamentDB;User Id=willtech3@o0cgao7l5l;Password=Blackhawk12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PhotoTournament.Data.PhotoTournamentDbContext, PhotoTournament.Data" MigrationConfiguration="PhotoTournament.Data.Migrations.Configuration, PhotoTournament.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhotoTournamentDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o0cgao7l5l.database.windows.net,1433;Initial Catalog=PhotoTournamentDB;User Id=willtech3@o0cgao7l5l;Password=Blackhawk12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>